@import "compass";
@import "compass/css3/font-face";
@import "breakpoint";
@import "susy";
@import "variables";
@import "mixins";

html { @include global-reset(); }

body {
	@include container(100%);	
}

#page-content {
	max-width: 1280px;
	margin: 0 auto;
	background: $color-two;
}
