@import "compass";
@import "compass/css3/font-face";
@import "compass/css3/transition";
@import "breakpoint";
@import "susy";
@import "variables";
@import "mixins";
@import "page-fonts";
@import "logo-styles";
@import "main-navigation-styles";
@import "main-header-styles";
@import "main-content-styles";
@import "gallery-styles";
@import "bio-section-styles";
@import "footer-styles";

// Main styles.

html { @include global-reset(); }

body { @include container(100%); }

#page-content {
	@include span(100%);
	margin: 0 auto;
}

.gallery-preview {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(#000000, 0.5);
}

.image-preview {
	position: relative;
	border: 8px solid white; 
	cursor: pointer;
}

